{% extends 'basic.html' %}
{% load static %}

{% block content %}







   <div class="ts-slider-area owl-carousel">
   {% for banner in banners %}
      <div class="slider-items slider-overlay" style="background: url({{ banner.image.url }})">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-8 col-md-12">
                  <div class="slider-content">
                     <h1>
                        <small>{{ banner.small_text }}</small>
                        {{ banner.big_text }}
                     </h1>
                  {% if banner.description %}
                     <p class="slider-desc">{{ banner.description }}</p>
                   {% endif %}
                      {% if banner.post %}
                        <a href="#" class="btn btn-primary">Подробнее</a>
                      {% endif %}

                  </div> <!-- Slider Content End -->
               </div> <!-- Col End -->
            </div> <!-- Row ENd -->
         </div> <!-- Container End -->
      </div> <!-- 1st Slider -->
   {% endfor %}


   </div> <!-- Slider Area End -->

<section id="main-container" class="main-container pb-0">
      <div class="ts-about-us">
         <div class="container">

            <div class="row overflow-hidden no-gutters">
               <div class="col-lg-7 col-md-12">
                  <div class="box-skew-hidden-left">
                        <div class="box-skew-left">
                           <img class="img-fluid" src="{% static 'images/home1.jpg' %}" alt="">
                        </div><!-- Box skew left -->
                  </div>
               </div> <!-- Col End -->
               <div class="col-lg-5 col-md-12">
                  <div class="box-skew-right">
                        <div class="box-content-wrapper">
                           <i class="icon-repair"></i>
                           <h2 class="column-title no-border">
                              35 лет опыта
                           </h2>
                           <p>Спектр наших услуг поразит Вас своим разнообразием! Мы осуществляем технический ремонт и обслуживание Вашего автомобиля в короткие сроки, а качество работы наших сотрудников оставит
                               довольным любого, даже самого взыскательного клиента!</p>
                        </div> <!-- Content wrapper end -->
                  </div> <!-- Content Right End -->
               </div> <!-- Col end -->
            </div> <!-- Row End -->
         </div> <!-- Container Fluid -->
      </div><!-- Ts About Us end -->
   </section>

   <!-- Intro End -->

    <div style="margin-top: 80px;" class="container">

         <div class="row">
            <div class="col-md-6">
               <h2 class="section-title">
                  Наши услуги
               </h2>

            </div><!-- Col end -->
            <div class="col-md-6">

               <button class="btn btn-primary" >Посмотреть все услуги</button>
            </div><!-- Col end -->


         </div><!-- Row End -->

         <div class="row">
             {% for service in services %}
            <div class="col-lg-4 col-md-12">
               <div style="margin-bottom: 30px;" class="ts-service-wrapper">
                     <span class="service-img">
                        <img class="img-fluid" src="{{ service.image.url }}" alt="">
                     </span> <!-- Service Img end -->
                     <div class="service-content">
                        <div class="service-icon">
                           <i class="{{ service.icon }}"></i>
                        </div> <!-- Service icon end -->
                        <h3><a href="{% url 'service' service.name_slug %}">{{ service.name }}</a></h3>
                        <p>{{ service.short_description }}</p>
                        <a href="{% url 'service' service.name_slug %}" class="readmore">Подробнее<i class="fa fa-angle-double-right"></i></a>
                     </div> <!-- Service content end -->
                  </div> <!-- Service wrapper end -->
            </div> <!-- Col end -->
          {% endfor %}
         </div><!-- Row end -->

		</div>



  <section id="ts-newsletter" class="ts-newsletter">
      <div class="container-fluid no-padding">
         <div class="row">
            <div class="col-md-6 align-self-center">
               <div class="box-skew-area-left bg-red">
                  <div class="box-skew-sm-left">
                     <h2 class="column-title text-white">
                        Каждое воскресенье
                     </h2>

                  </div> <!-- Newsletter Content end -->
               </div> <!-- Newsletter Left end -->
            </div> <!-- Col End -->
            <div class="col-md-6">
               <div class="box-skew-area-right">
                  <div class="box-skew-sm-right">
                        <img src="{% static 'images/home2.jpg' %}" alt="">
                     <h2 class="column-title text-white no-border">
                        <small>На все наши услкги и запчасти</small>
                        СКИДКА 10%
                     </h2>
                     <a href="#" class="btn btn-primary">Подробнее</a>
                  </div> <!-- Newsletter content end -->
               </div> <!-- Newsletter right end -->
            </div> <!-- Col end -->
         </div> <!-- Row End -->
      </div> <!-- Container fluid end -->
   </section> <!-- Newsletter End -->

<div style="margin-top: 80px;" class="ts-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">
                            Наши последние работы
                        </h2>
                    </div><!-- Col end -->
                </div><!-- Row End -->
                <div class="row">
                    {% for image in images %}
                  <div class="col-lg-4 col-md-6">
                  <div class="img-gallery">
                     <a class="gallery-popup" href="{{ image.image.url }}" title="{{ image.big_text }} {{ image.small_text }}">
                        <img class="img-fluid" src="{{ image.image.url }}" alt="">
                           <div class="gallery-content">
                                <h3>{{ image.big_text }}</h3>
                                <p>{{ image.small_text }}</p>
                           </div>
                     </a>
                  </div>
                  </div><!-- Col end -->
          {% endfor %}
            </div><!-- Container End -->
        </div>

   <section id="ts-appointment" class="ts-appointment pb-0">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <h2 class="section-title">
                        Есть вопросы?
                     </h2>
                         <p>Оставьте Ваш номер и мы перезвоним</p>
                  </div> <!-- Col End -->
               </div> <!-- Row end -->
               <div class="row">
                  <div id="contact-form" class="form-container col-lg-12">
                     <!-- START copy section: Hotel Contact Form -->
                     <form class="contactMe ts-main-form" action="" method="POST" >

                           <div class="form-row">
                              <div class="col-lg-4">
                                 <input type="text" name="name" data-displayname="Name" class="field" placeholder="Ваше имя" required>
                              </div>
                              <div class="col-lg-4">
                                 <input type="tel" id="phone_input" name="phone" data-displayname="Phone" class="field" placeholder="Ваш телефон" required>
                              </div>

                           </div>
                       <div class="form-group">
                      <label class="fancy-checkbox">
                        <input style="height: 16px;" type="checkbox" required="required">
                        <span style="font-size: 16px;
                            font-weight: bold;">Я даю свое согласие на хранение и обработку моих персональных данных.</span>
                      </label>
                    </div>
                             <button class="btn btn-primary" type="submit" data-sending="Sending...">Жду звонка</button>

                           <div class="msg"></div>




                     </form><!-- END copy section:Service Contact Form -->
                  </div><!-- Contact form end -->
               </div> <!-- Row End -->
            </div> <!-- Col end -->
            <div class="col-lg-4 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <h2 class="section-title">
                        Отзывы клиентов
                     </h2>
                  </div> <!-- Col End -->
               </div><!-- Row End -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="testimonial-carousel owl-carousel">
                        <div class="testimonial-container">
                           <div class="testimonial-body">
                              <div class="testimonial-content">
                                 <h4 class="service-name">Engine Digonastic</h4>
                                 <ul class="unstyled ts-rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                 </ul>
                              </div> <!-- Testimonial Content end -->
                              <p> wonderful serenity taken possession  into entire soul  like to these sweet of  tence  this spot which was the main part created for </p>
                              <span class="quote-icon"><i class="icon icon-quote22"></i></span>
                           </div> <!-- Testimonial Body end -->
                           <div class="testimonial-footer">

                              <div class="client-info">
                                 <h3 class="client-name">Donald Gonzales</h3>
                                 <span class="client-desig">Lead Painter</span>
                              </div> <!-- Client info end -->
                           </div><!-- Testimonial Footer end -->
                        </div> <!-- Testimonial Box end -->
                        <div class="testimonial-container">
                           <div class="testimonial-body">
                              <div class="testimonial-content">
                                 <h4 class="service-name">Engine Digonastic</h4>
                                 <ul class="unstyled ts-rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                 </ul>
                              </div> <!-- Testimonial Content end -->
                              <p> wonderful serenity taken possession  into entire soul  like to these sweet of  tence  this spot which was the main part created for </p>
                              <span class="quote-icon"><i class="icon icon-quote22"></i></span>
                           </div> <!-- Testimonial Body end -->
                           <div class="testimonial-footer">

                              <div class="client-info">
                                 <h3 class="client-name">Donald Gonzales</h3>
                                 <span class="client-desig">Lead Painter</span>
                              </div> <!-- Client info end -->
                           </div><!-- Testimonial Footer end -->
                        </div> <!-- Testimonial Box end -->
                        <div class="testimonial-container">
                           <div class="testimonial-body">
                              <div class="testimonial-content">
                                 <h4 class="service-name">Engine Digonastic</h4>
                                 <ul class="unstyled ts-rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                 </ul>
                              </div> <!-- Testimonial Content end -->
                              <p> wonderful serenity taken possession  into entire soul  like to these sweet of  tence  this spot which was the main part created for </p>
                              <span class="quote-icon"><i class="icon icon-quote22"></i></span>
                           </div> <!-- Testimonial Body end -->
                           <div class="testimonial-footer">

                              <div class="client-info">
                                 <h3 class="client-name">Donald Gonzales</h3>
                                 <span class="client-desig">Lead Painter</span>
                              </div> <!-- Client info end -->
                           </div><!-- Testimonial Footer end -->
                        </div> <!-- Testimonial Box end -->
                     </div> <!-- Testimonial Carousel -->
                  </div>
               </div> <!-- Row End -->
            </div> <!-- Col end -->
         </div> <!-- Row end -->
      </div> <!-- Container ened -->
   </section> <!-- Appoinment end -->





{% endblock %}


