{% extends 'basic.html' %}
{% load static %}

{% block content %}



   <div class="ts-slider-area owl-carousel">
      <div class="slider-items slider-overlay" style="background: url('{% static 'images/lada_sl1.jpg' %}')">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-8 col-md-12">
                  <div style="background-color: #212529b5;
    padding: 20px;" class="slider-content">
                     <h1>
                        <small>ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ </small>
                          <span>LADA</span> ПО ВЫГОДНЫМ ЦЕНАМ
                     </h1>
                     <p class="slider-desc">В ПЯТИГОРСКЕ И КМВ</p>

                  </div> <!-- Slider Content End -->
               </div> <!-- Col End -->
            </div> <!-- Row ENd -->
         </div> <!-- Container End -->
      </div> <!-- 1st Slider -->

   </div> <!-- Slider Area End -->
<section id="ts-history-tab" class="ts-history-tab">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-12">
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<ul class="nav nav-tabs ts-tab" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
									<i class="icon-cheackmark"></i>ГАРАНТИЯ</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
									<i class="icon-brake"></i>АССОРТИМЕНТ</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
									<i class="icon-fast"></i>СРОКИ</a>
								</li>
							</ul><!-- ul end -->
						</div><!-- Col end -->
						<div class="col-lg-8 col-md-8">
							<div class="tab-content ts-tab-content" id="myTabContent">
								<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
									<h2 class="column-title-sm">
										ГАРАНТИЯ НА ЗАПЧАСТИ
									</h2>
									<p>Гарантийный срок на оригинальные запасные части соответствует заявленному сроку завода изготовителя в зависимости от производителя.

 </p>
									<p>Гарантия на оригинальные автозапчасти распространяется только в случае установки на сервисной станции у официального дилера соответствующего производителя.</p>
								</div> <!-- tab pane end -->
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<h2 class="column-title-sm">
										ШИРОКИЙ АССОРТИМЕНТ ОРИГИНАЛЬНЫХ ЗАПЧАСТЕЙ LADA
									</h2>
									<p>Мы предлагаем качественные автозапчасти по доступным ценам с постоянным пополнением ассортимента.</p>
									<p>У нас представлен ассортимент от ведущих мировых производителей в различных конфигурациях, а наши консультанты ответят на все интересующие вас вопросы.</p>
								</div> <!-- tab pane end -->
								<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
									<h2 class="column-title-sm">
										КОРОТКИЕ СРОКИ ЗАКАЗА И ПОСТАВКИ ТОВАРА
									</h2>
									<p>Нет необходимой детали в наличии? Мы поможем Вам!</p>
									<p>Мы работаем с лучшими транспортными кампаниями, которые доставляют товар по воздуху, земле и воде в кратчайшие сроки.</p>
								</div><!-- Tab pane end -->
							</div> <!-- tab content -->
						</div> <!-- col end -->
					</div><!-- Row end -->
				</div> <!-- Col end -->
				<div class="col-lg-5 col-md-12 text-right">
					<span><img class="img-fluid" src="{% static 'images/lada1.png' %}" alt=""></span>
				</div> <!-- COl end -->
			</div> <!-- Row End -->
		</div> <!-- Container end -->
	</section>

<div class="container-fluid no-padding">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<div class="box-skew-area-left bg-red">
						<div class="box-skew-sm-left" data-eqcss-0-0-parent="" data-eqcss-1-0-parent="">
							<h2 class="column-title text-white" data-eqcss-0-0-prev="" data-eqcss-1-0-prev="">
								ВСЕГДА НА СВЯЗИ
							</h2>

						</div> <!-- Newsletter Content end -->
					</div> <!-- Newsletter Left end -->
				</div> <!-- Col End -->
				<div class="col-md-6">
					<div class="box-skew-area-right">
						<div class="box-skew-sm-right">
								<img src="{% static 'images/lada_sl2.jpg' %}" alt="">
							<h2 style="color: #fff !important; z-index: 1;" class="column-title text-white no-border">
								<small>Уточнить наличие детали можно по телефону</small>
								 +7 (905) 410-49-59
							</h2>

						</div> <!-- Newsletter content end -->
					</div> <!-- Newsletter right end -->
				</div> <!-- Col end -->
			</div> <!-- Row End -->
		</div>

     <section >
      <div class="container">
       <div class="entry-content"> <h2 class="section-title">Магазин оригинальных автозапчастей для автомобилей семейства ВАЗ.</h2>
<div class="row">
    <div class="col-lg-6">
<img class="img-fluid" src="{% static 'images/lada_m1.jpg' %}" alt="">
        <div class="gap-30"></div>
        <img class="img-fluid" src="{% static 'images/lada_m2.jpg' %}" alt="">
    </div>
     <div class="col-lg-6">
        <p style="font-size: 19px;">

            Всегда в продаже автозапчасти на весь модельный ряд завода-изготовителя.
            В наличии кузовные принадлежности, детали двигателя, трансмиссии, подвески, рулевого управления,
            электрооборудование, оптика, моторные масла мировых производителей, автохимия и многое другое.
            Продажа автозапчастей ВАЗ осуществляется на территории АО ПФ “Австостар”, слева от автосалона.
          </p>
          <p style="font-size: 19px;">
            В наличии имеется весь ассортимент запасных частей и расходных материалов для всех моделей LADA и Chevrolet NIVA. Мы
            предлагаем Вам отличные цены и качественный товар, а также хорошие скидки постоянным покупателям. Кроме того, в нашем магазине
            для Вас представлена возможность различных форм оплаты автозапчастей. Помните, что используя качественные оригинальные запчасти можно
            существенно продлить срок службы автомобиля.
          </p>
          <p style="font-size: 25px;">
           <strong>В наличии имеются оригинальные автостекла на автомобили отечественного производства.</strong>
          </p>
    </div>
</div>





       </div>
      </div><!-- Container end -->
   </section>
{% endblock %}