{% extends 'basic.html' %}
{% load static %}

{% block content %}
<section id="main-container" class="main-container ts-contact-us">
      <div class="container">
        <h1 class="section-title">
                  Пройти техосмотр в Пятигорске
               </h1>
         <div class="row no-gutters">
            <div class="col-lg-8 col-md-12">
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8c0933cb1cc6725b712af69b84c70851fc0a2eab719c5654190e84748d1741d9&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
               <!-- Map End -->
            </div>
            <!-- Col end -->
            <div class="col-lg-4 col-md-12">
               <div class="contact-details">
                  <h3 class="column-title no-border text-white">
                     AO Производственная фирма "Автостар"<br>
                      ИНН 2632009026
                  </h3>
                   <h4 class="column-title no-border text-white">
                     Aккредитованный оператор технического осмотра, номер в реестре 05040
                  </h4>
                  <div class="contact-info-item">
                     <h4 class="column-title no-border text-white">
                        357532, Ставропольский край, г. Пятигорск, Бештаугорское шоссе 16<br><br>
                         Режим работы Техосмотра  <br>
                         понедельник - суббота с 8-00 до 17-00<br>
                         воскресенье - выходной
                     </h4>

                  </div>
                  <div class="contact-info-item">
                     <h4 class="column-title no-border text-white">
                        Предварительная запись :<br>
                         <a style="color: white" href="tel:8 (988) 790-44-27">8 (988) 790-44-27</a><br>
                         <a style="color: white" href="mailto:avtostar@rambler.ru">avtostar@rambler.ru</a>
                     </h4>

                  </div>

               </div>
               <!-- Contact details end -->
            </div>
            <!-- Col End -->
         </div>
         <!-- row end -->
         <div class="gap-75"></div>
          <h3>
               Для прохождения технического осмотра необходимо иметь при себе и предоставить следующие документы:
          </h3>
 <p>
документ, удостоверяющий личность<br>
свидетельство о регистрации транспортного средства или паспорт транспортного средства.</p>

 <div class="gap-35"></div>
    <h3>
              Размеры платы за проведение технического осмотра
          </h3>
          <p>
              • М1- легковые транспортные средства (Т.С.,  используемые для перевозки пассажиров и  имеющие помимо места водителя  не более восьми мест для сидения) – 603 рублей.<br>
    • N1 - легковые транспортные средства (Т.С.,  используемые для перевозки грузов,  и  имеющие технически допустимую максимальную массу  не более  35 т) – 643 рублей.<br>
    • Специальные транспортные средства оперативных служб на базе N1 – 643 рублей.<br>
    • Специальные транспортные средства оперативных служб (на базе N1), транспортные средства – цистерны (на базе N1), транспортные средства – цистерны для перевозки и заправки сжиженных углеводородных газов (на базе  N1), транспортные средства – фургоны (на базе N1) , транспортные средства – фургоны, имеющие места для перевозки людей, автоэвакуаторы (на базе N1) – 683 рублей.<br>
    • Специальные транспортные средства (на базе N1), транспортные средства – цистерны для перевозки и заправки нефтепродуктов (на базе N1) – 743 рублей.<br>
    • Специальные транспортные средства для коммунального хозяйства и содержания дорог (на базе N1) – 703 рублей.<br>
    • Транспортные средства для перевозки опасных грузов (на базе N1) – 844 рублей.
          </p>

    <div class="gap-35"></div>
    <h3>
              Дополнительная информация
          </h3>
    <p>
        <a href="{% static 'to/rules.docx' %}" target="_blank">Постановление от 15 сентября 2020 г. n 1434
            об утверждении правил проведения технического осмотра транспортных средств</a><br>
    <a href="{% static 'to/atestat.pdf' %}" target="_blank">Aккредитация оператора технического осмотра AO Производственная фирма "Автостар"</a><br>
    <a href="{% static 'to/fz170.docx' %}" target="_blank">ФЗ 170 о техническом осмотре</a><br>
    <a href="{% static 'to/inn.jpeg' %}" target="_blank">ИНН/ОГРН AO Производственная фирма "Автостар" </a><br>
    <a href="{% static 'to/rules.docx' %}" target="_blank">Постановление от 15 сентября 2020 г. n 1434 об утверждении правил проведения технического осмотра транспортных средств</a><br>
    <a href="{% static 'to/tip_dogovor.docx' %}" target="_blank">Приказ от 14 октября 2011 г. n 573 об утверждении формы типового договора о проведении технического осмотра</a><br>
    </p>
      <!-- Container end -->
 </div>
   </section>

{% endblock %}