{% load static %}

   <footer class="footer" id="footer">

      <div class="footer-main">
         <div class="container">
            <div class="row">

               <!-- About us end-->
               <div class="col-lg-4 col-md-6 footer-widget widget-service">
                  <h3 class="widget-title">НАШИ КОНТАКТЫ</h3>
                  <ul class="unstyled">
                     <li><a href="tel:+7(8793)32-12-21">Администрация: +7 (8793) 32-12-21</a></li>
                     <li><a href="tel:+7 (8793) 32-12-0">Автосалон: +7 (8793) 32-12-03</a></li>
                     <li><a href="tel:+7 (8793) 32-12-15">Автосервис: +7 (8793) 32-12-15</a></li>
                     <li><a href="tel:+7 (905) 410-49-59">Автомагазин: +7 (905) 410-49-59</a></li>
                     <li><a href="tel:+7 (8793) 32-22-19">Иномарки: +7 (8793) 32-22-19</a></li>
                     <li><a href="tel:+7 (961) 464-50-02">Магазин АвтоDJ: +7 (961) 464-50-02</a></li>
                      <li><a href="tel:+7 (928) 342-17-23">Автострахование: +7 (928) 342-17-23</a></li>
                      <li><a href="mailto:info@lada-avtostar.ru">info@lada-avtostar.ru</a></li>
                  </ul> <!-- Ul end -->
               </div> <!-- Col End -->

               <div class="col-lg-3 col-md-6 footer-widget">
                  <h3 class="widget-title">ГРАФИК РАБОТЫ</h3>
                  <ul class="unstyled service-time">
                     <li>
                        <span>Технический центр</span>
                        <span>8.00 - 19.00</span>
                     </li>
                     <li>
                        <span>Автозапчасти</span>
                        <span>8.00 - 19.00</span>
                     </li>
                     <li>
                        <span>без перерыва и выходных</span>
                        <span></span>
                     </li>

                  </ul> <!-- Service Time -->
               </div> <!-- Col End -->
            </div><!-- Content row end-->
         </div><!-- Container end-->
      </div><!-- Footer Main-->
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="copyright-info"><span>© 2019 СТАНЦИЯ ТЕХНИЧЕСКОГО ОБСЛУЖИВАНИЯ АВТОМОБИЛЕЙ | АО ПРОИЗВОДСТВЕННАЯ ФИРМА "АВТОСТАР" г. ПЯТИГОРСК</span></div>
                  </div>

               </div><!-- Row end-->
            </div><!-- Container end-->
            <div class="back-to-top" id="back-to-top" data-spy="affix" data-offset-top="10" style="display: block;">
               <button class="back-btn" title="Back to Top">
                  <i class="fa fa-angle-double-up"></i><!-- icon end-->
               </button><!-- button end-->
            </div><!-- Back to top -->
         </div><!-- Copyright end-->
      </footer> <!-- Footer End -->







