{% load static %}

   <footer class="footer" id="footer">
      <div class="footer-top">
         <div class="container">
            <div class="row">
               <div class="col-md-4 footer-box">
                  <i class="icon icon-map-marker2"></i>
                  <div class="footer-box-content">
                     <h3>Birmingham, Alaska</h3>
                     <p>1014 Retreat Avenue</p>
                  </div>
               </div><!-- Box 1 end-->
               <div class="col-md-4 footer-box">
                  <i class="icon icon-phone3"></i>
                  <div class="footer-box-content">
                     <h3>+(91) 458 654 528</h3>
                     <p>Give us a call</p>
                  </div>
               </div><!-- Box 2 end-->
               <div class="col-md-4 footer-box">
                  <i class="icon icon-envelope"></i>
                  <div class="footer-box-content">
                     <h3>info@domain.com</h3>
                     <p>24/7 online support</p>
                  </div>
               </div><!-- Box 3 end-->
            </div><!-- Content row end-->
         </div><!-- Container end-->
      </div><!-- Footer top end-->
      <div class="footer-main">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 footer-widget footer-about">
                  <div class="footer-logo">
                     <a href="index.html">
                        <img class="img-fluid" src="images/logo/footer_logo.png" alt="">
                     </a>
                  </div>
                  <p>A wonderful serenity taken possession into entire soul like to these sweet of tence this spot which was the main part created the bliss often souls like mine.</p>
                  <div class="footer-social">
                     <ul class="unstyled">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul> <!-- Ul end -->
                  </div><!-- Footer social end-->
               </div> <!-- Col End -->
               <!-- About us end-->
               <div class="col-lg-3 col-md-6 footer-widget widget-service">
                  <h3 class="widget-title"><span>Our</span> Services</h3>
                  <ul class="unstyled">
                     <li><a href="#">Engine Diagnostics</a></li>
                     <li><a href="#">Lube, Oil and Filters</a></li>
                     <li><a href="#">Computer Diagnostics</a></li>
                     <li><a href="#">Anti-Lock Brake</a></li>
                     <li><a href="#">Air Conditioning Evac</a></li>
                     <li><a href="#">Performance Upgrades</a></li>
                  </ul> <!-- Ul end -->
               </div> <!-- Col End -->
               <div class="col-lg-3 col-md-6 footer-widget news-widget">
                  <h3 class="widget-title"><span>Latest</span> News</h3>
                  <ul class="unstyled">
                     <li class="news-text">
                        <a href="#"><span>How can I measure temperature</span></a>
                        <span>July 25, 2016</span>
                     </li>
                     <li class="news-text">
                        <a href="#"><span>How can I measure temperature</span></a>
                        <span>July 25, 2016</span>
                     </li>
                     <li class="news-text">
                        <a href="#"><span>How can I measure temperature</span></a>
                        <span>July 25, 2016</span>
                     </li>
                  </ul> <!-- Ul -->
               </div> <!-- Col End -->
               <div class="col-lg-3 col-md-6 footer-widget">
                  <h3 class="widget-title"><span>Service</span> Hours</h3>
                  <ul class="unstyled service-time">
                     <li>
                        <span>Monday</span>
                        <span>7.00 - 16.30</span>
                     </li>
                     <li>
                        <span>Tuesday</span>
                        <span>7.00 - 16.00</span>
                     </li>
                     <li>
                        <span>Wednesday</span>
                        <span>7.00 - 16.20</span>
                     </li>
                     <li>
                        <span>Thursday</span>
                        <span>7.00 - 16.00</span>
                     </li>
                     <li>
                        <span>Friday</span>
                        <span>7.00 - 16.20</span>
                     </li>
                     <li>
                        <span>Saturday</span>
                        <span>7.00 - 16.10</span>
                     </li>
                  </ul> <!-- Service Time -->
               </div> <!-- Col End -->
            </div><!-- Content row end-->
         </div><!-- Container end-->
      </div><!-- Footer Main-->
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-12">
                     <div class="copyright-info"><span>Copyright © 2018 Automobile. All Rights Reserved.</span></div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                     <div class="footer-menu">
                        <ul class="nav unstyled">
                           <li><a href="#">Home</a></li>
                           <li><a href="#">Terms</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Contact</a></li>
                        </ul> <!-- Nav End -->
                     </div> <!-- Footer menu end -->
                  </div> <!-- Col End -->
               </div><!-- Row end-->
            </div><!-- Container end-->
            <div class="back-to-top" id="back-to-top" data-spy="affix" data-offset-top="10" style="display: block;">
               <button class="back-btn" title="Back to Top">
                  <i class="fa fa-angle-double-up"></i><!-- icon end-->
               </button><!-- button end-->
            </div><!-- Back to top -->
         </div><!-- Copyright end-->
      </footer> <!-- Footer End -->







